.container .title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 40%;
}

.container .title-container .toggle,
div.toggle-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .6rem 0 .5rem 0;
    gap: 1rem;
}

.container select {
    background-color: #141414;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: .8rem;
    width: 100%;
    font-size: larger;
    cursor: pointer;
    margin-top: .5rem;
}

.title .query-text {
    color: #E50914;
    text-transform: none;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
}

.content-container div {
    width: 22%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5rem 1rem 2rem;
    background-color: #111111;
    padding: 1rem;
    border-radius: 14px;
}

.content-container.single-content div {
    width: 50%;
}

.content-container div img {
    max-width: 100%;
}

.no-events {
    pointer-events: none;
    -webkit-user-select: none;
    /* Para suporte ao Safari e iOS */
    -moz-user-select: none;
    /* Para suporte ao Firefox */
    -ms-user-select: none;
    /* Para suporte ao Internet Explorer/Edge */
    user-select: none;
    /* Desativa a seleção de texto */
}

.content-container div img,
.content-container div h2,
.content-container div p {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.content-container div h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.content-container div svg {
    color: #E50914;
}

img {
    border-radius: 10px;
}

.content-container .details {
    padding: .5rem;
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #E50914;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
    font-size: 1.2rem;
    outline: none;
}

.container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container button,
button.active-content-type {
    color: #ffffff;
    background-color: #E50914;
    border: #E50914 2px solid;
    outline: none;
    transition: 0.5s;
    font-weight: 700;
    font-size: 1.4rem;
    padding: .5rem 1.2rem;
    margin-top: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.carregar-mais {
    width: 20%;
    margin-bottom: 2rem;
}

.container button svg {
    font-size: 1.5rem;
}

button.active-content-type:hover,
button.active-content-type:focus {
    color: #E50914;
    background-color: transparent;
}

button.active-content-type {
    color: #E50914;
    background: transparent;
}

button.carregar-mais:hover,
.details:hover {
    color: #E50914;
    background-color: transparent;
}

.info-provider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .container .title {
        margin: 1rem 2rem;
    }

    .title-container {
        width: 85%;
    }

    .container .title-container .toggle,
    div.toggle-search {
        margin-top: 1rem;
    }

    .container select {
        width: 95%;
        margin-top: 2rem;
    }

    .content-container {
        flex-direction: row;
        width: 100%;
    }

    .content-container div {
        width: 100%;
        margin: .5rem 0;
    }

    .content-container.single-content div {
        width: 100%;
    }

    .container button svg {
        font-size: 1.1rem;
    }

    button.carregar-mais {
        width: 60%;
        margin-bottom: 2rem;
    }
}