.container .title {
    font-size: 2.9rem;
    font-weight: 700;
    margin: 2rem 0 1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container select {
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: .6rem;
    outline: none;
    width: 20rem;
    font-size: larger;
    cursor: pointer;
}

.title .query-text {
    color: #E50914;
    text-transform: none;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 1rem;
}

.movies-container div {
    width: 20%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5rem 1rem 2rem;
    background-color: #111111;
    padding: 1rem;
    border-radius: 14px;
}

.movies-container div img {
    max-width: 100%;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
    text-align: center;
}

.movies-container div h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.movies-container div svg {
    color: #E50914;
}

img {
    border-radius: 10px;
}

.movies-container div a {
    padding: .5rem;
    background-color: #E50914;
    color: #ffffff;
    border: 2px solid #E50914;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
    font-size: 1.2rem;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #E50914;
}

.container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    text-align: center;
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.6rem;
    width: 35%;
    background-color: #E50914;
    padding: .6rem;
    margin: 1rem 0 2rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container .title {
        margin: 1rem 2rem;
    }

    .container select {
        width: 100%;
    }

    .movies-container {
        flex-direction: row;
    }

    .movies-container div {
        width: 100%;
        margin: .5rem 0;
    }
    .container button {
        font-size: 1.2rem;
    }
}
