@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: #ffffff;

}

a {
    text-decoration: none;
    color: #E50914;
    transition: 0.5s;
    font-weight: 500;
}

a:hover {
    color: #dd353d;
}